.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
}

.card {
  flex-grow: 0;
  flex-basis: 100%;
}

@media screen and (min-width:600px) {
  .card {
    flex-basis: 49%;
  }
}

@media screen and (min-width:900px) {
  .card {
    flex-basis: 32%;
  }
}

html[data-useragent*='MSIE 10.0'] .flex-container {
  .card {
    margin: 10px;
    width: 31%;
  }
}

