.tile { 
  border-collapse: separate;
  border-spacing: 20px;
  display: table;
  margin-left: -20px;
  margin-right: -20px;
  table-layout: fixed;
  width: 100%;

  h2 {
    margin-top: 0;
  }

  .tile-block {
    border: 1px solid #F0F0F0;
    display: table-cell;
    padding: 1.25em;
    width: 50%;
  }
}