<div class="flex-container grid-row">

      {{ card.card(
        cardUrl="/cards/v1",
        heading="Card - Status Low",
        status="status-low",
        statusMessage="status low",
        linkContent = "Your income from employers and private pensions that is taxed before it is paid to you.",
        details = [
          { class: "detail-large", content: "£21,793" },
          { class: "detail", content: "1150L"}
        ],
        links = [
          { link: "/some-url", title: "View your Income Tax estimate" },
          { link: "/some-url-2", title: "Check how much tax you paid last"},
          { link: "/some-url-3", title: "Understand your tax code"}
        ])
      }}
      
      {{ card.card(
        cardUrl="/cards/v2",
        heading="Card - Status Med",
        status="status-med",
        statusMessage="status med",
        linkContent = "Your income from employers and private pensions that is taxed before it is paid to you."
        )
      }}

      {{ card.card(
        cardUrl="/cards/v1",
        heading="Card - Status High",
        status="status-high",
        statusMessage="status high",
        linkContent = "Your income from employers.",
        links = [
          { link: "#", title: "Page link here" }
        ])
      }}

      {{ card.card(
        cardUrl="/cards/v1",
        heading="Card - Status High",
        status="status-high",
        statusMessage="status high",
        linkContent = "Your income from employers.",
        links = [
          { link: "#", title: "Page link here" }
        ])
      }}


  </div>