<div class="flex-container grid-row">

  {{ card.card(
    cardUrl="/",
    headingLevel="h3",
    heading="Pay As You Earn (PAYE)",
    linkContent = "Your income from employers and private pensions that is taxed before it is paid to you.",
    links = [
      { link: "#", title: "View your Income Tax estimate" },
      { link: "#", title: "Check how much tax you paid last year" },
      { link: "#", title: "Understand your tax code" }
    ])
  }}

  {{ card.card(
    cardUrl="/",
    headingLevel="h3",
    heading="You paid too much tax last year",
    linkContent = "HMRC owes you a £84.23 refund for the 2016 to 2017 tax year.",
    links = [
      { link: "#", title: "Claim your tax refund" },
      { link: "#", title: "Find out why you paid too much" }
    ])
  }}

  {{ card.card(
    cardUrl="/",
    headingLevel="h3",
    heading="National Insurance",
    linkContent = "You have a National Insurance number to make sure your National Insurance contributions and tax are recorded against your name only.",
    links = [
      { link: "#", title: "Print your National Insurance number" },
      { link: "#", title: "View gaps in your record" }
    ])
  }}

  </div>