<div class="flex-container grid-row">

      {{ card.card(
        cardUrl="/",
        heading="Sainsbury's",
        statusClass="status-low",
        statusMessage="Started 1 May 2016",
        details = [
          { class: "detail-large", content: "£21,793" },
          { class: "detail", content: "1150L"}
        ],
        links = [
          { link: "/", title: "Manage company car" },
          { link: "/", title: "Manage medical benefit"}
        ])
      }}
      

      {{ card.card(
        heading="Marriage Allowance",
        linkContent = "Transfer part of your Personal Allowance to your partner so they pay less tax.",
        links = [
          { link: "/", title: "Find out if you qualify" }
        ])
      }}

  </div>