<div class="flex-container grid-row">

  {{ card.card(
    cardUrl="/",
    headingLevel="h3",
    heading="Tax credits",
    linkContent = "View your next payments and the people on your claim, and make changes to your claim.",
    links = [
      { link: "#", title: "View your tax credits payments" }
    ])
  }}

  {{ card.card(
    cardUrl="/",
    headingLevel="h3",
    heading="Child Benefit",
    linkContent = "A tax-free payment to help parents with the cost of bringing up children.",
    links = [
      { link: "#", title: "Tell us if your child is staying in full-time education" }
    ])
  }}

  {{ card.card(
    cardUrl="/",
    headingLevel="h3",
    heading="Marriage Allowance",
    linkContent = "Transfer part of your Personal Allowance to your partner so they pay less tax.",
    links = [
      { link: "#", title: "Find out if you qualify for Marriage Allowance" }
    ])
  }}

  </div>