
{% macro card(cardStyle, cardLinkClass, cardUrl, heading='heading', statusClass, statusMessage, details, linkContent='Content here', links) %}

<div class="card {{ cardStyle }}">
  <div class="card-body {{ cardLinkClass }} {% if cardUrl %}active{% endif %}">

    {% if cardUrl %}
      <a href="{{cardUrl}}" class="heading-small card-heading">{{ heading }}</a>
    {% else %}
      <p class="heading-small card-heading">{{ heading }}</p>
    {% endif %}

    {% if statusClass %} <div class="status {{ statusClass }}"> {{ statusMessage }}</div>  {% endif %}

    {% if details %}
      {% for content in details %}
        <div class="{{ content.class }}">{{ content.content }}</div>
      {% endfor %}
    {% endif %}

    <p>{{ linkContent }}</p>
  </div>

  
    {% if links %}
    <div class="card-action">
    <ul>
      {% for link in links %}
      <li><a href= {{ link.url }}>{{ link.title }}</a></li>
      {% endfor %}
    </ul>
    </div>
    {% endif %}

  
</div>

{% endmacro %}