{% extends "layout.html" %}

{% block page_title %}
  Cards with link CTA - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
			<h1 class="heading-xlarge">Cards with link</h1>
      <div class="tile">
        <div class="tile-block">
          <h2 class="heading-large">Cards Title</h2>
          <p>Cards Content goes in here</p>
          <a href="#">Page link here</a>
        </div>
        <div class="tile-block">
          <h2 class="heading-large">Cards Title</h2>
          <p>Cards Content goes in here</p>
          <a href="#">Page link here</a>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}


