{% extends "layout.html" %}

{% block page_title %}
  PTA Cards - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-two-thirds">
			<h1 class="heading-xlarge">PTA Card - Version 1</h1>
    </div>
  </div>

  <div class="grid-row">

    <div class="column-one-third">
      <div class="pta-card">
        <div class="card-link">
          <a href="#"><h2 class="heading-small card-heading">Pay As You Earn (PAYE)</h2></a>
          <p>Your income from employers and private pensions that is taxed before it is paid to you.</p>
        </div>
        <div class="card-action">
          <ul>
            <li><a href="#">View your Income Tax estimate</a></li>
            <li><a href="#">Check how much tax you paid last</a></li>
            <li><a href="#">Understand your tax code</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="column-one-third">
      <div class="pta-card">
        <div class="card-link">
          <a href="#"><h2 class="heading-small card-heading">Pay As You Earn (PAYE)</h2></a>
          <p>Your income from employers and private pensions that is taxed before it is paid to you.</p>
        </div>
        <div class="card-action">
          <ul>
            <li><a href="#">Page link here</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</main>

{% endblock %}