{% extends "layout.html" %}

{% block page_title %}
  PTA Cards - GOV.UK
{% endblock %}

{% import "../pta-cards/card.html" as card %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-two-thirds">
			<h1 class="heading-xlarge">PTA Card - Version 2</h1>
      <p class="lede">Create a nunjucks macro</p>
    </div>
  </div>

  <div class="grid-row">

    <div class="column-one-third">

      {{ card.card(
        cardUrl="#",
        heading="Pay As You Earn (PAYE)",
        linkContent = "Your income from employers and private pensions that is taxed before it is paid to you.",
        links = [
          { link: "/some-url", title: "View your Income Tax estimate" },
          { link: "/some-url-2", title: "Check how much tax you paid last"},
          { link: "/some-url-3", title: "Understand your tax code"}
        ])
      }}

    </div>

    <div class="column-one-third">
      
      {{ card.card(
        cardUrl="#",
        heading="Pay As You Earn (PAYE)",
        linkContent = "Your income from employers and private pensions that is taxed before it is paid to you.",
        links = [
          { link: "#", title: "Page link here" }
        ])
      }}

    </div>

  </div>

</main>

{% endblock %}